<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelAddIn.Properties.Settings>
            <setting name="DefaultQuery" serializeAs="String">
                <value />
            </setting>
            <setting name="MingleUser" serializeAs="String">
                <value />
            </setting>
            <setting name="MingleHost" serializeAs="String">
                <value />
            </setting>
            <setting name="Trace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TraceEntryExit" serializeAs="String">
                <value>False</value>
            </setting>
        </ExcelAddIn.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ExcelAddIn.Properties.Settings>
            <setting name="QueryPrefix" serializeAs="String">
                <value>Query</value>
            </setting>
            <setting name="TraceLog" serializeAs="String">
                <value>log.log</value>
            </setting>
        </ExcelAddIn.Properties.Settings>
    </applicationSettings>
</configuration>