# ignore these files
*.user
*.suo
*.docstates
*.g.i.cs
*.g.cs
*.baml
*.tlog
*.lref
*.cache
obj/
TestResults/
*Re[sS]harper*.*
_Re[sS]harper*/
*Doc.xml
vendor/bundle/
publish
ExcelAddIn/bin
WpfControls/bin
Setup/Debug/
Setup/Release/
AddIn2010.sln.metaproj.tmp
